header, div, h1, h2, h4, nav, col {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url("/img/fondonino.png");
    background-color: #cccccc;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D9D9D9;
    /* background-color: #7EA9EA; */
    /* background-color: #9A9C9F; */
    /* color: white; */
    height: 30px;
    text-align: center;
}